<html>
    <head>
        <title>History | Tradier Sandbox</title>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="/js/external/flotr2.min.js"></script>
    </head>
    <body>
        <h1>Timesales</h1>
        <div id="flotr" style="width: 50%; height: 50%"></div>
        <table>
            <tr><th>Mean Step</th></tr>
            <tr><td id="meanSteps"></td></tr>
        </table>
        <script>
            var series = {{ data | safe }};
        </script>
        <script src="/js/plot-history.js"></script>
    </body>
</html>
