<html>
    <head>
        <title>History | Tradier Sandbox</title>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="/js/external/flotr2.min.js"></script>
    </head>
    <body>
        <h1>Timesales</h1>
        <div id="flotr" style="width: 50%; height: 50%"></div>
        <script>
            var series = {{ data | safe }};

            var d1 = [];
            var i1 = 1;
            var lastPrice = 0; // last price marked
            var pt = .5; // min price change to make mark 
            var deltaPrice;
            series.history.day.forEach(function (p) {
                var close = p.close;
                var high = p.high;
                var low = p.low;
                var open = p.open;
                deltaPrice = Math.abs(lastPrice - close);
                if (deltaPrice >= pt) {
                    lastPrice = close;
                    d1.push(
                        [i1, 
                        close, 
                        high, 
                        low, 
                        open]);
                    i1 += 1;
                }
            });
            Flotr.draw(document.getElementById('flotr'), [d1], { 
                candles: {
                    show: true,
                    candleWidth: 1,
                },
            });
        </script>
    </body>
</html>
