<html>
    <head>
        <title>Timesales | Tradier Sandbox</title>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="/js/external/flotr2.min.js"></script>
    </head>
    <body>
        <h1>Timesales</h1>
        <div id="flotr" style="width: 50%; height: 50%"></div>
        <script>
            var series = {{ data | safe }};

            var d1 = [];
            var i1 = 1;
            series.series.data.forEach(function (p) {
                d1.push([i1, p.price]);
                i1 += 1;
            });
            Flotr.draw(document.getElementById('flotr'), [d1], { 
            });
        </script>
    </body>
</html>
